<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Starts footer section  -->
    <footer class="section-footer pb-0" id="footer">
      <div class="footer-main px-3">
        <div class="links-section">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-3 col-md-5 d-flex flex-column">
                <h4 class="text-light mb-5">Important Links</h4>
                <ul class="p-0">
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Home</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">About Us</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">FAQs</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Blog</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-3 col-md-5 d-flex flex-column">
                <h4 class="text-light mb-5">Total Hospitals</h4>
                <ul class="p-0">
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Apollo hospital delhi</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Max hospital delhi</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Apollo hospital delhi</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">City hospital mumbai</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Apollo hospital delhi</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Fortis hospital delhi</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">View all</a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-3 col-md-5 d-flex flex-column">
                <h4 class="text-light mb-5">Speciality Treatments</h4>
                <ul class="p-0">
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Knee Replacement surgeon</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Urologist</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Spine surgeon</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">ENT surgeons</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Orthopedic</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Cardiologist</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">View all</a>
                  </li>
                </ul>
              </div>
              <div
                class="col-12 col-lg-3 col-md-5 d-flex flex-column justify-content-end"
              >
                <h4 class="text-light mb-5">Medical Tourism Destinations</h4>
                <ul class="p-0">
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Medical tourism in India</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Medical tourism in UK</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Medical tourism in Japan</a>
                  </li>
                  <li class="mb-3 text-capitalize">
                    <span class="mx-3 fw-bolder">-</span
                    ><a href="#" class="text-light">Medical tourism in US</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="container text-light my-5" />
        <div class="footer-about--section mb-4">
          <div class="container d-grid gap-4">
            <div class="col-12 col-lg-3 col-md-5 d-flex flex-column w-100">
              <a href="#"
                ><img
                  src="/images/logo2.png"
                  alt="logo"
                  width="250px"
                  height="auto"
              /></a>
            </div>
            <div class="col-12 col-lg-3 col-md-5 d-flex flex-column w-100">
              <h2 class="text-light">About Medigate</h2>
              <p class="text-light">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum
                velit ullammaxime autem sit neque libero quidem eligendi, rerum
                ipsum fugit praesentium veritatis, numquamlaboriosam ab
                consequuntur dignissimos error iusto mollitia earum labore
                similique aut explicabo?Voluptates sapiente porro ipsa commodi
                consectetur animi, impedit, iure reiciendis saepe nemoeaque
                exercitationem! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quis, saepe.
              </p>
            </div>
            <div class="col-12 col-lg-3 col-md-5 d-flex flex-column w-100">
              <h2 class="text-light">Follow us on</h2>
              <div class="d-flex gap-3">
                <a href="#"
                  ><img
                    src="/images/Facebook_logo.png"
                    alt="facebook icon"
                    width="30px"
                /></a>
                <a href="#"
                  ><img
                    src="/images/Twitter-logo.png"
                    alt="twitter icon"
                    width="30px"
                /></a>
                <a href="#"
                  ><img
                    src="/images/Instagram-logo.webp"
                    alt="instagram icon"
                    width="30px"
                /></a>
                <a href="#"
                  ><img
                    src="/images/Youtube-logo.png"
                    alt="youtube icon"
                    width="30px"
                /></a>
              </div>
              <h4 class="text-light mt-5">Customer Service</h4>
              <a href="#"><h3 class="text-primary">+91 1234567890</h3></a>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright-section py-4 px-3">
        <div class="container d-flex justify-content-between">
          <p class="text-light m-0">
            Copyright &copy; 2024 Medigate. All Rights Reserved. Designed by
            <a
              href="https://www.ideamagix.com/"
              rel="noopener noreferrer"
              target="_blank"
              class="text-light"
              >Ideamagix</a
            >
          </p>
          <div class="terms-section">
            <a href="#" class="text-light">Terms and Conditions</a>
            <a href="#" class="text-light">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Ends footer section  -->
  </body>
</html>
