<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Starts header  -->
    <header class="section-navbar" id="header">
      <section class="top-bar">
        <ul class="top-bar-menu container p-3">
          <li class="logo">
            <a href="#">
              <img
                src="/images/logo2.png"
                alt="logo"
                width="200px"
                height="auto"
              />
            </a>
          </li>
          <li class="side-logo">
            <a href="#">
              <img
                src="/images/side-logo.webp"
                alt="side-logo"
                width="100px"
                height="auto"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <div class="top-second-medical-section top-bar-support">
                <img
                  src="/images/book-consultation.png"
                  alt="book consultation"
                />
                <div>
                  <p>Second Medical Opinion</p>
                  <p>Book Consultation</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="tel:1234567890">
              <div class="top-callus-section top-bar-support">
                <img src="/images/phone-call.png" alt="call us" />
                <div>
                  <p>Call Us On</p>
                  <p>1234567890</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="mailto:info@gmail.com">
              <div class="top-emailus-section top-bar-support">
                <img src="/images/email.png" alt="email us" />
                <div>
                  <p>Email Us On</p>
                  <p>info@gmail.com</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="flag-select">
              <div class="dropdown">
                <button
                  class="nav-link flag-toggle flag-btn d-flex"
                  id="flag-toggle-id"
                >
                  <img src="/images/flags/in.webp" alt="Indian flag" />
                  <i
                    class="fa fa-caret-down mx-3 mt-1 text-primary"
                    aria-hidden="true"
                  ></i>
                </button>
                <div class="flag-dropdown-content" id="countryDropdown">
                  <a href="#"
                    ><img
                      loading="lazy"
                      src="/images/flags/in.webp"
                      alt="Indian flag"
                    />
                    India</a
                  >
                  <a href="#"
                    ><img
                      loading="lazy"
                      src="/images/flags/jp.jpg"
                      alt="Japan flag"
                    />
                    Japan</a
                  >
                  <a href="#"
                    ><img
                      loading="lazy"
                      src="/images/flags/uk.webp"
                      alt="UK Flag"
                    />
                    United Kingdom</a
                  >
                  <a href="#"
                    ><img
                      loading="lazy"
                      src="/images/flags/us.webp"
                      alt="US Flag"
                    />
                    United States</a
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="section-nav px-3">
        <div class="container">
          <nav class="navbar" aria-label="Site menu">
            <button class="navbar-toggler">☰</button>
            <div class="nav-links">
              <a class="nav-link" href="#">Home</a>
              <a class="nav-link" href="#">About Us</a>
              <div class="dropdown">
                <a class="nav-link treatments-toggle treatments-btn" href="#"
                  >Treatments +</a
                >
                <!-- <button class="dropdown-btn">+</button> -->
                <div class="dropdown-content" id="treatmentsDropdown">
                  <a href="#">Treatment 1</a>
                  <a href="#">Treatment 2</a>
                  <a href="#">Treatment 3</a>
                </div>
              </div>
              <div class="dropdown">
                <a
                  class="nav-link destinations-toggle destinations-btn"
                  href="#"
                  >Destinations +</a
                >
                <!-- <button class="dropdown-btn">+</button> -->
                <div class="dropdown-content" id="destinationsDropdown">
                  <a href="#">Destination 1</a>
                  <a href="#">Destination 2</a>
                  <a href="#">Destination 3</a>
                </div>
              </div>
              <a class="nav-link" href="#">Hospitals</a>
              <a class="nav-link" href="#">FAQs</a>
              <a class="nav-link" href="#">Blogs</a>
              <a class="nav-link" href="#">Request a Quote</a>
            </div>
            <form class="search-container">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="search" placeholder="Search" aria-label="Search" />
            </form>
          </nav>
        </div>
      </section>
    </header>
    <!-- Ends header  -->
  </body>
</html>
