<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Starts Total knee Replacement section  -->
    <main>
      <section class="section-main px-3">
        <div class="container">
          <div class="section-hero--content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item"><a href="#">Treatments</a></li>
                <li class="breadcrumb-item"><a href="#">Orthopedics</a></li>
                <li class="breadcrumb-item">
                  <a href="#">Knee Replacement</a>
                </li>
              </ol>
            </nav>
            <h1 class="hero-heading">Total Knee Replacement</h1>
            <p class="hero-para">
              Total knee Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Iste, quasi.
            </p>
            <div class="hero-btn">
              <a href="#" class="btn">Enquiry Now</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Ends Total knee Replacement section  -->
  </body>
</html>
