<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- starts get in touch section  -->
    <section class="section-getin--touch">
      <div class="container">
        <div class="getin-touch--content text-center">
          <h2 class="mb-4">Stay healthy and strong to enjoy life</h2>
          <h1 class="mb-5">We have team for healthcare experts</h1>
          <div>
            <a href="tel:1234567890"
              ><button class="btn">Get In touch</button></a
            >
            <h2 class="fw-semibold">+91 1234567890</h2>
          </div>
        </div>
      </div>
      <div class="section-join--mediretreats">
        <div class="join-section mb-2">
          <img
            src="/images/add-user.png"
            alt="add doctor"
            width="40px"
            height="40px"
          />
          <div>
            <p>Are you doctor/hospital?</p>
            <h4>Join Mediretreats</h4>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, amet.
        </p>
      </div>
    </section>
    <!-- Ends get in touch section  -->
  </body>
</html>
