<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Starts other services section  -->
    <section class="section-other--services px-3">
        <div class="container grid grid-two--cols section-services">
          <div class="other-services--consolited">
            <!-- Start section Eligibility -->
            <div class="section-eligibility section-sub--services">
              <div class="section-eligible--content">
                <h2 class="section-common--heading">
                  Eligibility For Treatment
                </h2>
                <div style="padding-right: 3rem">
                  <p class="section-common-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Culpa expedita fuga facere illo excepturi maxime iste rerum
                    aspernatur et. Nam at iure quidem. Pariatur repudiandae
                    praesentium at ex officia unde! Eveniet nesciunt a enim, maiores
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores libero nisi quo?Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.
                    <ul style="margin: 3rem 0" class="section-common-para">
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis lekei dhu
                        wdh
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <!-- End section Eligibility -->
            <!-- Start section Preparation -->
            <div class="section-preparation section-sub--services">
              <div class="section-prepare--content">
                <h2 class="section-common--heading">
                  Preparation Before Treatment
                </h2>
                <div style="padding-right: 3rem">
                  <p class="section-common-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Culpa expedita fuga facere illo excepturi maxime iste rerum
                    aspernatur et. Nam at iure quidem. Pariatur repudiandae
                    praesentium at ex officia unde! Eveniet nesciunt a enim, maiores
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores libero nisi quo?Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.
                    <ul style="margin: 3rem 0" class="section-common-para">
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis lekei dhu
                        wdh
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <!-- End section Preparation -->
            <!-- Start section About -->
            <div class="section-about section-sub--services">
              <div class="section-about--content">
                <h2 class="section-common--heading">About Treatment</h2>
                <div style="padding-right: 3rem">
                  <p class="section-common-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Culpa expedita fuga facere illo excepturi maxime iste rerum
                    aspernatur et. Nam at iure quidem. Pariatur repudiandae
                    praesentium at ex officia unde! Eveniet nesciunt a enim, maiores
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores libero nisi quo?Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.
                    <ul style="margin: 3rem 0" class="section-common-para">
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis lekei dhu
                        wdh
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <!-- End section About -->
            <!-- Start section Post -->
            <div class="section-post section-sub--services">
              <div class="section-post--content">
                <h2 class="section-common--heading">
                  Post-Treatment Care Treatment
                </h2>
                <div style="padding-right: 3rem">
                  <p class="section-common-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Culpa expedita fuga facere illo excepturi maxime iste rerum
                    aspernatur et. Nam at iure quidem. Pariatur repudiandae
                    praesentium at ex officia unde! Eveniet nesciunt a enim, maiores
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores libero nisi quo?Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.
                    <ul style="margin: 3rem 0" class="section-common-para">
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis lekei dhu
                        wdh
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <!-- End section Post -->
            <!-- Start section Recovery -->
            <div class="section-recovery section-sub--services">
              <div class="section-recovery--content">
                <h2 class="section-common--heading">Treatment Recovery Tips</h2>
                <div style="padding-right: 3rem">
                  <p class="section-common-para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Culpa expedita fuga facere illo excepturi maxime iste rerum
                    aspernatur et. Nam at iure quidem. Pariatur repudiandae
                    praesentium at ex officia unde! Eveniet nesciunt a enim, maiores
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores libero nisi quo?Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.
                    <ul style="margin: 3rem 0" class="section-common-para">
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis lekei dhu
                        wdh
                      </li>
                      <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora voluptatem, quidem aspernatur debitis
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <!-- End section Recovery -->
            <!-- Start section FAQs -->
            <div class="faq section-sub--services">
              <div class="container">
                <h2 class="section-common--heading">Treatment FAQs</h2>
                <div class="faq-item">
                  <h3 class="faq-question">
                    <span class="toggle-button">+</span> What is the purpose of
                    this FAQ section?
                  </h3>
                  <div class="faq-answer">
                    <p class="section-common-para">
                      The purpose of this FAQ section is to provide answers to
                      common questions that users may have about our services.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <h3 class="faq-question">
                    <span class="toggle-button">+</span> How can I contact
                    support?
                  </h3>
                  <div class="faq-answer">
                    <p class="section-common-para">
                      You can contact support by emailing support@example.com or
                      calling our support hotline at 123-456-7890.
                    </p>
                  </div>
                </div>
                <div class="faq-item">
                  <h3 class="faq-question">
                    <span class="toggle-button">+</span> Where can I find more
                    information?
                  </h3>
                  <div class="faq-answer">
                    <p class="section-common-para">
                      More information can be found on our website under the
                      "Resources" section or by reaching out to our customer
                      service team. You can contact support by emailing
                      support@example.com or calling our support hotline at
                      123-456-7890.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End section FAQs -->
            <!-- Start section Stories -->
            <section class="image-slider">
              <div class="container">
                <h2 class="section-common--heading">
                  Patient Stories and Videos
                </h2>
                <div class="owl-carousel owl-theme">
                  <div class="item" width="30rem">
                    <img
                      src="/images/patient-stories.jpg"
                      alt="Patient stories"
                    />
                  </div>
                  <div class="item" width="30rem">
                    <img
                      src="/images/patient-stories.jpg"
                      alt="Patient stories"
                    />
                  </div>
                  <div class="item" width="30rem">
                    <img
                      src="/images/patient-stories.jpg"
                      alt="Patient stories"
                    />
                  </div>
                  <div class="item" width="30rem">
                    <img
                      src="/images/patient-stories.jpg"
                      alt="Patient stories"
                    />
                  </div>
                  <div class="item" width="30rem">
                    <img
                      src="/images/patient-stories.jpg"
                      alt="Patient stories"
                    />
                  </div>
                </div>
              </div>
            </section>
            <!-- End section Stories -->
          </div>

          <div class="section-need--help">
            <form action="">
              <h2 style="color: rgb(0, 191, 255)">Need help?</h2>
              <p style="font-size: 1.4rem">
                Just let us know we will be happy to help you.
              </p>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  placeholder="Full name"
                />
              </div>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                />
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                  maxlength="10"
                  class="form-control"
                  id="phone"
                  placeholder="Phone Number"
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  id="comment"
                  rows="3"
                  placeholder="Describe your requirements for treatment"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">
                Send Enquiry
              </button>
            </form>
          </div>
        </div>
      </section>
    <!-- Ends other services section  -->
</body>
</html>