<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Starts treat Overview section  -->
    <section class="section-treat-overview px-3">
      <div class="container grid grid-two--cols">
        <div class="section-treatment--content">
          <h2 class="section-common--heading">Treatment Overview</h2>
          <div>
            <p class="section-common-para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              impedit odio perferendis! Enim illum repudiandae temporibus nihil
              quo quasi necessitatibus nemo, quam, assumenda provident dolorum
              tenetur non! Commodi, nobis dignissimos?
              <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
              consectetur?
              <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
              accusamus aspernatur, totam commodi eos cupiditate.
              <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ea
              commodi nulla nostrum fugit eaque accusantium, vero beatae
              similique iure.
            </p>
          </div>
        </div>
        <div class="section-treatment-image">
          <figure>
            <img
              src="/images/treatment-overview.webp"
              alt="patient treatment"
              width="90%"
              height="auto"
              loading="lazy"
            />
          </figure>
        </div>
      </div>
    </section>
    <!-- Ends treat Overview section  -->
  </body>
</html>
