<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Starts Recommanded hospitals section  -->
    <section class="section-Recom--hospitals">
      <div class="container text-center common-title fw-bold">
        <h3>Hospitals</h3>
        <h2 class="mb-3">Recommanded <span>Hospitals</span></h2>
      </div>

      <div id="carouselHospitals" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselHospitals"
            data-bs-slide-to="0"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselHospitals"
            data-bs-slide-to="1"
            aria-label="Slide 2"
            class="active"
          ></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="container">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-10 col-md-4 col-lg-4 mb-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="card p-4" width="18rem">
                      <img
                        src="/images/hospital-building.jpg"
                        class="card-img-top"
                        alt="Testimonial img"
                        height="230px"
                        loading="lazy"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Hospital Name</h5>
                        <p class="card-subtitle">Mumbai</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 mb-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="card p-4" width="18rem">
                      <img
                        src="/images/hospital-building.jpg"
                        class="card-img-top"
                        alt="Testimonial img"
                        height="230px"
                        loading="lazy"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Hospital Name</h5>
                        <p class="card-subtitle">Mumbai</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 mb-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="card p-4" width="18rem">
                      <img
                        src="/images/hospital-building.jpg"
                        class="card-img-top"
                        alt="Testimonial img"
                        height="230px"
                        loading="lazy"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Hospital Name</h5>
                        <p class="card-subtitle">Mumbai</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="container">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-10 col-md-4 col-lg-4 mb-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="card p-4" width="18rem">
                      <img
                        src="/images/hospital-building.jpg"
                        class="card-img-top"
                        alt="Testimonial img"
                        height="230px"
                        loading="lazy"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Hospital Name</h5>
                        <p class="card-subtitle">Mumbai</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 mb-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="card p-4" width="18rem">
                      <img
                        src="/images/hospital-building.jpg"
                        class="card-img-top"
                        alt="Testimonial img"
                        height="230px"
                        loading="lazy"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Hospital Name</h5>
                        <p class="card-subtitle">Mumbai</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-10 col-md-4 col-lg-4 mb-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="card p-4" width="18rem">
                      <img
                        src="/images/hospital-building.jpg"
                        class="card-img-top"
                        alt="Testimonial img"
                        height="230px"
                        loading="lazy"
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title">Hospital Name</h5>
                        <p class="card-subtitle">Mumbai</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselHospitals"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselHospitals"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <h4 class="explore-btn text-center px-3">
          Don't hesitate contact us for better help and services.
          <a href="#"><span>Explore all Hospitals</span></a>
        </h4>
      </div>
    </section>
    <!-- End Recommanded hospitals section  -->
  </body>
</html>
