<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Starts servives links bar section  -->
    <section class="services px-3" id="services-links"> 
    <div class="container">
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Eligibility</a></li>
        <li><a href="#">Preparation</a></li>
        <li><a href="#">About Treatment</a></li>
        <li><a href="#">Post-Treatment Care</a></li>
        <li><a href="#">Recovery Tips</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Patients Stories</a></li>
      </ul>
    </div>
    </section>
    <!-- Ends servives links bar section  -->
  </body>
</html>
